.element_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.element_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header {
  background-image: url(../img/mainFoto/mainFoto_2x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 576px) {
  .header {
    background-image: url(../img/mainFoto/mainFoto_1x.webp);
  }
}
.header .header__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(16, 16, 29, 0.9);
}
.header .header__nav .nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  padding: 33.5px 0 20px 0;
}
@media (max-width: 768px) {
  .header .header__nav .nav__content {
    display: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: 0;
        -ms-flex-pack: 0;
            justify-content: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
}
.header .header__nav .nav__logo {
  font-size: 28px;
}
.header .header__nav .nav__logo a {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 0;
  color: rgb(255, 250, 250);
  text-transform: uppercase;
  font-family: "Raleway-ExtraBold";
}
.header .header__nav .nav__logo span {
  color: rgb(66, 169, 237);
}
.header .header__nav .burger {
  display: none;
  width: 30px;
  height: 30px;
  background-color: #7e8880;
  padding: 5px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.header .header__nav .burger span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 20px;
  height: 2px;
  background-color: rgb(0, 0, 0);
}
.header .header__nav .burger span:nth-of-type(2) {
  top: calc(50% - 5px);
}
.header .header__nav .burger span:nth-of-type(3) {
  top: calc(50% + 5px);
}
.header .header__nav .burger span:nth-of-type(2) {
  top: calc(50% - 5px);
}
.header .header__nav .burger span:nth-of-type(3) {
  top: calc(50% + 5px);
}
@media (max-width: 576px) {
  .header .header__nav .burger {
    display: block;
  }
  .header .header__nav .menu {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 55px;
    left: 89%;
    display: none;
  }
  .header .header__nav .menu.hapend {
    display: block;
  }
  .header .header__nav .burger.active span:nth-of-type(1) {
    display: none;
  }
  .header .header__nav .burger.active span:nth-of-type(2) {
    top: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
            transform: translate(-50%, 0%) rotate(45deg);
  }
  .header .header__nav .burger.active span:nth-of-type(3) {
    top: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(-45deg);
            transform: translate(-50%, 0%) rotate(-45deg);
  }
}
.header .header__nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: 0;
      flex-wrap: 0;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  gap: 60px;
}
.header .header__nav .nav__list .nav__item a {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 0;
  color: rgb(255, 250, 250);
  text-transform: uppercase;
  font-family: "Lato-Semibold";
}
.header .header__nav .nav__list .nav__item a:hover {
  color: rgb(67, 171, 240);
}
@media (max-width: 576px) {
  .header .header__nav .nav__list {
    display: none;
  }
}
.header .nav {
  margin-bottom: 70px;
}
.header .header__section {
  margin-top: 82px;
  padding-top: 103px;
  padding-bottom: 202px;
}
.header .header__section .header__text {
  max-width: 750px;
}
.header .header__section .header__text .text__title {
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 58px;
  color: rgb(66, 169, 237);
  text-transform: uppercase;
  font-family: "Lato-Bold";
}
@media (max-width: 576px) {
  .header .header__section .header__text .text__title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 40px;
    color: rgb(66, 169, 237);
  }
}
.header .header__section .header__text .text__title span {
  color: rgb(0, 0, 0);
}
.header .header__section .header__text .title {
  margin-bottom: 80px;
}
.header .header__section .header__text .text__info {
  max-width: 534px;
}
.header .header__section .header__text .text__info .info__title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  color: rgb(0, 0, 0);
  font-family: "Lato-Bold";
}
.header .header__section .header__text .text__info .info__list {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  color: rgb(0, 0, 0);
  font-family: "Lato-Regular";
}
.header .header__section .header__text .text__info .list {
  margin-bottom: 80px;
}
.header .header__section .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: 0;
      flex-wrap: 0;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  gap: 30px;
}
.header .header__section .btn .btn__order {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 0;
  color: rgb(255, 250, 250);
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(62, 156, 220);
  border: 1px solid rgb(255, 250, 250);
  border-radius: 4px;
  padding: 15px 31px;
}
.header .header__section .btn .btn__detailed {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 0;
  color: rgb(42, 43, 48);
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(255, 250, 250);
  border: 1px solid rgb(111, 109, 123);
  border-radius: 4px;
  padding: 15px 30px;
}

.element_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main {
  background-image: url(../img/bgContent/contentbg_2x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 0 151px 0;
}
@media (max-width: 576px) {
  .main {
    background-image: url(../img/bgContent/contentbg_1x.webp);
  }
}
.main .ordering {
  text-align: center;
}
.main .ordering .ordering__title {
  font-size: 36px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 43px;
  color: rgb(255, 250, 250);
  text-transform: uppercase;
  font-family: "Lato-Heavy";
  margin-bottom: 30px;
}
.main .ordering .ordering__title span {
  color: rgb(62, 156, 220);
}
.main .ordering .ordering__text {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  color: rgb(187, 187, 187);
  font-family: "Lato-Regular";
}
.main .unten {
  margin-bottom: 80px;
}
.main .block-ikons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}
.main .block-ikons .ikon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.main .block-ikons .ikon .foto__ikon {
  width: 100px;
  height: 100px;
}
.main .block-ikons .ikon .text__ikon {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 0px;
  color: rgb(255, 250, 250);
  text-align: center;
  font-family: "Lato-Regular";
}
.main .block-ikons .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.main .block-ikons .dots li {
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
}
.main .form input {
  max-width: 370px;
  outline: none;
}
.main .form .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.main .form .user .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  gap: 30px;
}
.main .form .user .form-container .first-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  gap: 30px;
}
.main .form .user .form-container .first-container .select {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  color: rgb(39, 39, 51);
  font-family: "Lato-Regular";
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid rgb(255, 250, 250);
  border-radius: 3px;
  padding: 12px 0 12px 10px;
}
.main .form .user .form-container .first-container option {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 34px;
  color: rgb(255, 250, 250);
  font-family: "Lato-Regular";
  background-color: rgba(39, 39, 51, 0.8980392157);
}
.main .form .user .form-container .first-container option:hover {
  color: rgb(67, 171, 240);
}
.main .form .user .form-container .first-container input {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  color: rgb(39, 39, 51);
  font-family: "Lato-Regular";
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid rgb(255, 250, 250);
  border-radius: 3px;
  padding: 12px 0 12px 10px;
}
.main .form .user .form-container .second-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  gap: 22.5px;
}
.main .form .user .form-container .second-container .text-container {
  max-width: 770px;
}
.main .form .user .form-container .second-container .text-container .item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  gap: 0;
}
.main .form .user .form-container .second-container .text-container .item .item__text,
.main .form .user .form-container .second-container .text-container .item .item__percent {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  color: rgb(255, 250, 250);
  font-family: "Lato-Regular";
}
.main .form .user .form-container .second-container .text-container .slider {
  width: 100%;
}
.main .form .user .form-container .second-container .file {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  color: rgb(255, 250, 250);
  font-family: "Lato-Regular";
  text-transform: uppercase;
  text-align: center;
  padding: 12px 0;
}
.main .form .form-btn button {
  max-width: 370px;
  background: rgb(62, 156, 220);
  border: 1px solid rgb(255, 250, 250);
  border-radius: 4px;
  padding: 15px 65px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  color: rgb(39, 39, 51);
  font-family: "Lato-Semibold";
  text-align: center;
  text-transform: uppercase;
}

.element_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Lato-Heavy";
  src: url("../fonts/Lato-Heavy.woff2") format("woff2");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Lato-Semibold";
  src: url("../fonts/Lato-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "NerdMaze-Regular";
  src: url("../fonts/NerdMaze-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  line-height: 1;
}

[class*=central-container] {
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0px auto;
}

.wrapper {
  overflow: hidden;
}