@import "./variables.scss";

.main {
   background-image: url(../img/bgContent/contentbg_2x.webp);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding: 120px 0 151px 0;
   @include breakpoint("md") {
      background-image: url(../img/bgContent/contentbg_1x.webp);
   }
   .ordering {
      text-align: center;
      .ordering__title {
         @include font-style(36px, 800, 0, 43px, $white);
         text-transform: uppercase;
         font-family: "Lato-Heavy";
         margin-bottom: 30px;
         @include breakpoint("md") {
            font-size: 26px;
         }
      }
      .ordering__title span {
         color: $orderBackground-color;
      }
      .ordering__text {
         @include font-style(18px, 400, 0, 22px, $checkout-color);
         font-family: "Lato-Regular";
      }
   }
   .unten {
      margin-bottom: 80px;
   }
   .block-ikons {
      @include element_position(flex, row, wrap, space-between, start, 0);
      margin-bottom: 20px;
      @include breakpoint("sxl") {
         justify-content: center;
      }
      .ikon {
         position: relative;
         @include element_position(flex, column, nowrap, center, center, 0);
         .foto__ikon {
            width: 100px;
            height: 100px;
            margin-bottom: 20px;
         }
         .text__ikon {
            @include font-style(15px, 400, 0, 0px, $white);
            text-align: center;
            font-family: "Lato-Regular";
            width: 188px;
            line-height: 19px;
         }
      }
      .dots {
         position: absolute;
         right: -85px;
         top: 50%;
         transform: translateY(-50%);
         display: flex;
         gap: 20px;
         li {
            width: 6px;
            height: 6px;
            background-color: red;
            border-radius: 50%;
         }
         @include breakpoint("sxl") {
            display: none;
         }
      }
   }
   .list__text {
      border: 1px solid red;
      @include element_position(flex, row, nowrap, center, start, 51px);
      @include font-style(15px, 400, 0, 0px, $white);
      text-align: center;
      font-family: "Lato-Regular";
      li {
         width: 188px;
         line-height: 19px;
      }
   }
   .form {
      width: 100%;
      input {
         // width: 370px;
         outline: none;
      }
      .user {
         @include element_position(flex, column, nowrap, center, center, 40px);
         .form-container {
            @include element_position(flex, column, nowrap, 0, 0, 30px);
            .first-container {
               @include element_position(flex, row, nowrap, 0, 0, 30px);
               @include breakpoint("xl") {
                  @include element_position(0, column, 0, 0, 0, 30px);
                  width: 30%;
                  margin: 0 auto;
               }
               option:hover {
                  color: $navHover-color;
                  text-decoration: underline;
               }
               .select {
                  @include font-style(18px, 400, 0, 22px, $form-color);
                  font-family: "Lato-Regular";
                  background: $firstInputbg-color;
                  border: 1px solid $white;
                  border-radius: 3px;
                  padding: 12px 0 12px 10px;
               }

               option {
                  @include font-style(18px, 400, 0, 34px, $white);
                  font-family: "Lato-Regular";
                  background-color: #272733e5;
               }

               input {
                  @include font-style(18px, 400, 0, 22px, $form-color);
                  font-family: "Lato-Regular";
                  background: $firstInputbg-color;
                  border: 1px solid $white;
                  border-radius: 3px;
                  padding: 12px 0 12px 10px;
               }
            }
            .second-container {
               @include element_position(flex, row, nowrap, 0, end, 22.5px);
               @include breakpoint("xl") {
                  @include element_position(0, column, 0, 0, 0, 30px);
                  width: 30%;
                  margin: 0 auto;
               }
               .text-container {
                  width: 480px;
                  .item {
                     @include element_position(flex, row, nowrap, space-between, center, 0);
                     margin-bottom: 15px;
                     @include breakpoint("xl") {
                        width: 100%;
                        @include element_position(0, column, 0, center, center, 0);
                     }
                     .item__text,
                     .item__percent {
                        @include font-style(18px, 400, 0, 22px, $white);
                        font-family: "Lato-Regular";
                     }
                  }
                  .slider {
                     width: 100%;
                     @include breakpoint("xl") {
                        width: 200px;
                        padding-left: 50px;
                     }
                  }
               }
               .custom-file-input {
                  @include font-style(15px, 600, 0, 18px, $white);
                  font-family: "Lato-Regular";
                  text-transform: uppercase;
                  text-align: center;
                  padding: 12px 0px;
                  position: relative;
                  display: inline-block;
               }
               .custom-file-input {
                  color: transparent;
               }
               .custom-file-input::-webkit-file-upload-button {
                  visibility: hidden;
               }
               .custom-file-input::before {
                  content: "Прикрепить файл";
                  display: inline-block;
                  @include font-style(12px, 400, 0, 22px, $form-color);
                  font-family: "Lato-Regular";
                  background: $white;
                  border: 1px solid $white;
                  border-radius: 3px;
                  padding: 12px 50px;
               }
            }
         }
      }
      .form-btn button {
         max-width: 370px;
         background: $orderBackground-color;
         border: 1px solid $white;
         border-radius: 4px;
         padding: 15px 65px;
         @include font-style(15px, 600, 0, 18px, $form-color);
         font-family: "Lato-Semibold";
         text-align: center;
         text-transform: uppercase;
      }
   }
}
select.decoration option:hover {
   box-shadow: 0 0 10px 100px #1882a8 inset;
}
