$white: rgb(255, 250, 250);
$about-color: rgb(0, 0, 0);
$logo-color: rgb(66, 169, 237);
$form-color: rgb(39, 39, 51);
$footer-color: rgb(195, 195, 195);
$checkout-color: rgb(187, 187, 187);
$navBG-color: rgba(16, 16, 29, 0.9);
$navHover-color: rgb(67, 171, 240);
$detailed-color: rgb(42, 43, 48);
$orderBackground-color: rgb(62, 156, 220);
$detailedBackground-color: rgb(111, 109, 123);
$firstInputbg-color: rgba(255, 255, 255, 0.85);

@mixin font-style($fs, $fw, $ls, $lh, $cl) {
   font-size: $fs;
   font-weight: $fw;
   letter-spacing: $ls;
   line-height: $lh;
   color: $cl;
}

@mixin circle($wid, $heit, $radius, $bgc) {
   width: $wid;
   height: $heit;
   border-radius: $radius;
   background-color: $bgc;
}

.element_row {
   display: flex;
   flex-direction: row;
}
@mixin element_position($d, $fd, $fw, $jf, $al, $gap) {
   display: $d;
   flex-direction: $fd;
   flex-wrap: $fw;
   justify-content: $jf;
   align-items: $al;
   gap: $gap;
}

@mixin breakpoint($breakpoint) {
   @if $breakpoint == "xxl" {
      @media (max-width: 1400px) {
         @content;
      }
   } @else if $breakpoint == "sxl" {
      @media (max-width: 1200px) {
         @content;
      }
   } @else if $breakpoint == "xl" {
      @media (max-width: 992px) {
         @content;
      }
   } @else if $breakpoint == "lg" {
      @media (max-width: 768px) {
         @content;
      }
   } @else if $breakpoint == "md" {
      @media (max-width: 576px) {
         @content;
      }
   } @else if $breakpoint == "sm" {
      @media (max-width: 320px) {
         @content;
      }
   }
}
